
body {
    margin:0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
    background-color: #1E1E1E;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #252527;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #333333;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  a {
    color: #00B7FF;
  }
  
  .hidden {
    display: none;
  }