<div id="root">

</div>
<div id="controls">
  <button onclick="scan()">Summarise All Damage</button>
</div>

<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

<script src="/javascripts/app.min.js"></script>